<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EssentialOilsCapstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/search-custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container body-content">

        <h1>My Medicine Cabinet</h1> 

        @if (ViewBag.userOils != null)
        {
            <div class="card-columns">

                @foreach (var oil in ViewBag.userOils)
                {
                    <div id="search-results" class="card border-success mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Name: @oil.Name</h4>
                            <p class="card-text">Description: @oil.Description</p>
                            <p class="card-text">Properties: @oil.PropertyText</p>

                            @*figuring out how stars work*@
                            <!--<div class="stars" style="margin-left: -70px">
                                <form action="User/SaveNumStars" method="post">
                                    <p style="margin-left: 65px; font-size: 15px" class="text-muted">How well did this oil work for you?</p>
                                    <input class="star star-5" type="submit" name="numStars" value="5" />-->
                                                    @*<label class="star star-5" for="5"></label>*@
                                                    <!--<input class="star star-4" type="submit" name="numStars" value="4"/>-->
                                                    @*<label class="star star-4" for="4"></label>*@
                                                    <!--<input class="star star-3" type="submit" name="numStars" value="3"/>-->
                                                    @*<label class="star star-3" for="3"></label>*@
                                                    <!--<input class="star star-2" type="submit" name="numStars" value="2" />-->
                                                    @*<label class="star star-2" for="2"></label>*@
                                                    <!--<input class="star star-1" type="submit" name="numStars" value="1" />-->
                                                    @*<label class="star star-1" for="1"></label>*@
                                                    <!--<br />
                                    <input type="hidden" name="numStars" value="0"/>
                                    <input type="hidden" name="oilId" value="@oil.OilId" />
                                </form>
                            </div>-->
                                                    <!--<div class="form-group" style="margin-left: -70px">
                                <form action="User/SaveNumStars" method="post">
                                    <p style="margin-left: 65px; font-size: 15px" class="text-muted">How well did this oil work for you?</p>
                                    <input type="hidden" name="numStars" value="0" />
                                    <input type="hidden" name="oilId" value="@oil.OilId" />
                                    <label><input type="submit" class="btn btn-outline-dark" value="1" /></label>-->
                                                    @*<input type="submit" class="btn btn-check" value="2" />
                                <input type="submit" class="btn btn-check" value="3" />
                                <input type="submit" class="btn btn-check" value="4" />
                                <input type="submit" class="btn btn-check" value="5" />*@
                                                    <!--</form>
                            </div>-->
                        <div class="form-check" >
                            <form action="/User/SaveNumStars" method="post">
                                <div class="stars" style="margin-left: -70px">
                                    <label class="star star-5">
                                        <input type="submit" display="hidden" class="star star-5" name="numStars" value="5" data-show-if="@oil.NumStars<5">
                                    </label>
                                </div>
                                <div class="stars" style="margin-left: -70px">
                                    <label class="star star-4">
                                        <input type="submit" display="hidden" class="star star-4" name="numStars" value="4" data-show-if="@oil.NumStars<4">
                                    </label>
                                </div>
                                <div class="stars" style="margin-left: -70px">
                                    <label class="star star-3">
                                        <input type="submit" display="hidden" class="star star-3" name="numStars" value="3" data-show-if="@oil.NumStars<3">
                                    </label>
                                </div>
                                <div class="stars" style="margin-left: -70px">
                                    <label class="star star-2">
                                        <input type="submit" display="hidden" class="star star-2" name="numStars" value="2" data-show-if="@oil.NumStars<2">
                                    </label>
                                </div>
                                <div class="stars" style="margin-left: -70px">
                                    <label class="star star-1">
                                        <input type="submit" display="hidden" class="star star-1" name="numStars" value="1" data-show-if="@oil.NumStars<1">
                                    </label>
                                </div>
                                <input type="hidden" name="oilId" value="@oil.OilId" />
                            </form>
                        </div>
                            <div class="form-group">
                                <form action="/User/SaveNotes" method="post">
                                    <label for="notes" class="form-label mt-4">Notes:</label>
                                    <input class="form-control" type="text" name="notes" value="@oil.UserNotes" />
                                    <input type="hidden" name="oilId" value="@oil.OilId" />
                                    <input type="submit" class="btn btn-outline-dark" value="Save" />
                                </form>
                            </div>

                            <form action="/User/Delete" method="post">
                                <input type="hidden" name="oilId" value="@oil.OilId" />
                                <input type="submit" class="btn btn-outline-danger" value="Delete" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>