<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EssentialOilsCapstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/search-custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <div class="px-5 py-5">
        <div class="container body-content">

            <h1>My Medicine Cabinet</h1>

            @if (ViewBag.userOils != null)
            {
                <div class="card-columns">
                    @foreach (var oil in ViewBag.userOils)
                    {
                        <div id="search-results" class="card border-success mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Name: @oil.Name</h3>
                                <h4 class="card-text">Description: </h4><h6>@oil.Description</h6>
                                <h4 class="card-text">Properties: </h4><h6>@oil.PropertyText</h6>
                                <h4>Rate Your Oil:</h4>
                                <div class="form-check">
                                    <form action="/User/SaveNumStars" method="post">
                                        <div class="stars" style="margin-left: -70px">
                                            <label class="star star-5">
                                                <input type="submit" display="hidden" class="star star-5" name="numStars" value="5" data-show-if="@oil.NumStars<5">
                                            </label>
                                        </div>
                                        <div class="stars" style="margin-left: -70px">
                                            <label class="star star-4">
                                                <input type="submit" display="hidden" class="star star-4" name="numStars" value="4" data-show-if="@oil.NumStars<4">
                                            </label>
                                        </div>
                                        <div class="stars" style="margin-left: -70px">
                                            <label class="star star-3">
                                                <input type="submit" display="hidden" class="star star-3" name="numStars" value="3" data-show-if="@oil.NumStars<3">
                                            </label>
                                        </div>
                                        <div class="stars" style="margin-left: -70px">
                                            <label class="star star-2">
                                                <input type="submit" display="hidden" class="star star-2" name="numStars" value="2" data-show-if="@oil.NumStars<2">
                                            </label>
                                        </div>
                                        <div class="stars" style="margin-left: -70px">
                                            <label class="star star-1">
                                                <input type="submit" display="hidden" class="star star-1" name="numStars" value="1" data-show-if="@oil.NumStars<1">
                                            </label>
                                        </div>
                                        <input type="hidden" name="oilId" value="@oil.OilId" />
                                    </form>
                                </div>
                                <div class="form-group">
                                    <form action="/User/SaveNotes" method="post">
                                        <h4>Notes:</h4>
                                        <input class="form-control" type="text" name="notes" value="@oil.UserNotes" />
                                        <input type="hidden" name="oilId" value="@oil.OilId" />
                                        <input type="submit" class="btn btn-outline-primary mt-4" value="Save" />
                                    </form>
                                </div>

                                <form action="/User/Delete" method="post">
                                    <input type="hidden" name="oilId" value="@oil.OilId" />
                                    <input type="submit" class="btn btn-outline-danger" value="Delete" />
                                </form>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>