@model List<EssentialOilsCapstone.Models.Oil>

<div class="px-5 py-5">
    <h1>Essential Oils</h1><br />

    @if (Model.Count == 0)
    {
        <p>No essential oils yet.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th><h5>Name</h5></th>
                <th><h5>Description</h5></th>
                <th><h5>Properties</h5></th>
                <th><h5>Edit</h5></th>
                <th><h5>Delete</h5></th>
            </tr>
            @foreach (var o in ViewBag.essentialOils)
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.Description</td>
                    <td>@o.PropertyText</td>
                    <td><a asp-controller="Admin" asp-action="Edit" asp-route-oilId="@o.OilId" class="btn btn-warning">Edit</a></td>
                    <td><form action="/Admin/Delete" method="post"><input type="hidden" name="oilIds" value="@o.OilId" /><input type="submit" class="btn btn-danger" value="X"></form></td>

                </tr>
            }
        </table>
    }
</div>